/* ————————格式化———————— */
* {
	margin: 0;
	padding: 0;
	/* 调整这里的字号可以调整所有的UI比例 */
	font-size: 16px;
	position: relative;
	transition: all .3s, fill 0s;
	font-family: '微软雅黑';
}

html,
body {
	height: 100%;
}

#mainBox {
	height: 100%;
	overflow: hidden;
}

.row {
	flex-direction: row;
	display: flex;
}

.column {
	flex-direction: column;
	display: flex;
}

#left,
#right,
#smallLeft {
	width: 17em;
	height: 100%;
	z-index: 2;
}

#smallLeft {
	width: 4em;
}

#smallRight {
	width: 0em;
}

#center {
	width: 100%;
}

#underTitle {
	height: calc(100% - 3em);
}

#centerLeft {
	width: 100%;
}

#input {
	max-height: 18em;
	height: 30%;
	min-height: 8em;
}

#smallNotice {
	height: 2.4em;
}

#notice {
	max-height: 18em;
	height: 40%;
}

#centerLeft {
	min-width: 18em;
}

/* ————————滚动条———————— */
*::-webkit-scrollbar {
	width: .5em;
}

*::-webkit-scrollbar-thumb {
	border-radius: 1em;
}

#main::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* ————————交互———————— */
#closeRight,
#openRight,
#closeLeft,
#openLeft {
	position: absolute;
	width: .8em;
	height: 6em;
	z-index: 1;
	right: 100%;
	top: calc(50% - 3em);
}

#closeRight,
#openRight {
	border-radius: .8em 0 0 .8em;
}

#closeLeft,
#openLeft {
	border-radius: 0 .8em .8em 0;
}

#openRight,
#closeRight {
	right: 0;
}

#closeLeft,
#openLeft {
	left: 0;
}

#closeRight::after,
#openRight::after,
#closeLeft::after,
#openLeft::after {
	font-size: .8em;
	content: "";
	border: 2px solid;
	border-left: none;
	border-bottom: none;
	width: .5em;
	height: .5em;
	position: absolute;
	top: calc(50% - 2px);
}

#closeRight::after,
#openLeft::after {
	transform: rotate(45deg);
}

#openRight::after,
#closeLeft::after {
	transform: rotate(-135deg);
	left: .2em;
}

/* ————————对话列表———————— */
#list {
	height: 100%;
}

#smallLeft .ListCont,
#smallLeft .ListTime {
	display: none;
}

#smallLeft .ListNum {
	z-index: 1;
	top: 0;
}

/* 每个对话 */
.listLable {
	height: 3em;
	overflow: hidden;
	padding: .5em;
}

/* 群头像 */
.ListImage {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	overflow: hidden;
	flex-shrink: 0;
}

.ListImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 消息内容+群名 */
.ListCont {
	width: calc(100% - 6em);
	padding: 0 .5em;
	line-height: 1.5em;
	white-space: nowrap;
}

/* 群名 */
.ListName {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 消息内容缩略 */
.ListContent {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 特殊消息（at） */
.ListContentB {
	margin-right: .3em;
}

/* 消息时间 */
.ListRight {
	width: 3em;
}

.ListTime {
	text-align: right;
	font-size: .8em;
}

/* 消息数量 */
.ListNum {
	font-weight: bolder;
	border-radius: 1em;
	font-size: .8em;
	position: absolute;
	padding: 0 .5em;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 2em;
}

#listMain {
	height: calc(100% - 3em - 2.8em);
	overflow-y: auto;
}

/* 底部按钮 */
#listButton {
	padding: .5em;
	height: 1.8em;
	width: calc(100% - 1em);
	border-radius: 0 1em 1em 0;
	z-index: 1;
	white-space: nowrap;
	overflow: hidden;
}

.listButton {
	height: 1.8em;
	width: 1.8em;
	padding: 0 .6em;
}

#listButton:hover {
	width: 16em;
}

/* ————搜索———— */
#ListSearchBox {
	padding: .5em;
	height: 2em;
}

#ListSearchInput {
	width: calc(100% - 1em);
	height: calc(1em - 2px);
	padding: .5em;
	display: inline-block;
}

#smallLeft #ListSearchInput:focus {
	position: absolute;
	z-index: 5;
	width: 16em;
}

#ListSearchInput:focus {
	outline: none;
}


/* ————————群名信息等———————— */
#title {
	text-align: center;
	line-height: 3em;
	height: 3em;
}

/* ————————对话———————— */
#main {
	height: 100%;
	overflow-y: scroll;
	padding: .5em 1em;
}

/* 用户头像 */
.userImage {
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
}

.userImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 头像左右 */
.otherMessage .userImage {
	left: .5em;
}

.myMessage .userImage {
	right: .5em;
}

/* 用户名 */
.userName {
	font-size: .8em;
	margin-top: .5em;
	display: table;

}

/* 头衔：群主 管理员 */
.userName span,
.friendName span {
	font-size: .9em;
	padding: .2em .5em;
	border-radius: .5em;
	margin-right: .5em;
	color: #ffffff;
}

.userName .green,
.friendName .green {
	background-color: #45d8af;
}

.userName .yellow,
.friendName .yellow {
	background-color: #ffc96c;
}

/* 消息内容 */
.MessageBox {
	left: 3.5em;
	max-width: calc(100% - 7em);
}

/* 图片消息 */
.MessageImage {
	display: table;
	overflow: hidden;
	max-width: 10em;
	margin: .8em 0;
}

.MessageImage img {
	width: 100%;
	display: block;
}

/* 文字消息 */
.MessageTalk {
	padding: .4em .5em;
	margin: .8em 0;
	display: table;
}

/* 消息左右分开 */
.myMessage .MessageTalk,
.myMessage .userName,
.myMessage .MessageImage {
	margin-left: auto;
}

/* 文字消息中的图片 */
.MessageTalk img {
	max-width: 100%;
	display: block;
}

/* 回复其他人消息 */
.replyMessage {
	padding: .5em;
}

.replyuserName,
.replyMessageTalk {
	font-size: .8em;
}

/* at他人的消息 */
.otherMessage .MessageTalkAt {
	margin-right: .3em;
}

.myMessage .MessageTalkAt {
	margin-right: .3em;
}

/* 时间戳/入群提醒 */
.messageTimeBox {
	font-size: .8em;
	text-align: center;
	margin: 3em 0 2em;
}

.messageTimeBox span {
	font-size: 1em;
	margin: 0 .3em;
}

/* ——————输入框—————— */
#inputIcon {
	height: 1.8em;
	padding: .5em 1em;
}

/* 输入框图标 */
.inputIcon {
	height: 1.8em;
	width: 1.8em;
	margin-right: .5em;
	float: left;
}

/* 输入的文字 */
#inputMessage {
	border: none;
	margin: 0 1em;
	width: calc(100% - 3em);
	resize: none;
	height: calc(100% - 6.8em);
	display: block;
	padding: .5em;
}

#inputMessage:focus {
	outline: none;
}

/* 发送按钮 */
#sendButton {
	margin: .5em 1em;
	display: block;
	padding: .2em 1em;
	border: none;
	float: right;
}



/* ————————公告———————— */
.noticeTitle {
	height: 2em;
	line-height: 2em;
	padding: .2em .5em;
}

.noticeMain {
	height: calc(100% - 3em);
	overflow-y: auto;
}

.noticeCont {
	font-size: .8em;
	padding: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.noticeImportant {
	font-size: 1em;
	padding-right: .5em;
}



/* ————————群成员———————— */
#friend {
	height: 100%;
}

.friendTitle {
	height: 2em;
	line-height: 2em;
	padding: .2em .5em;
}

.friendMain {
	height: calc(100% - 3em);
	overflow-y: auto;
}

.friendCont {
	line-height: 1.5em;
	padding: .3em .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.friendImage {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	overflow: hidden;
	border-radius: 100%;
}

/* 群友 */
.friendName {
	font-size: .8em;
	left: 2.5em;
}

.friendImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}