/* 全局样式设置 */
:root {
	/* 主题色 */
	/* #AC5E45 #E76A54 #FFE6BB #27393B #617979 #35887a #85CABF #a9eae1 #D8F5F3 #EEF6F8 #ffffff */
}

/* ————滚动条颜色———— */
/* 消息栏 */
#main:hover::-webkit-scrollbar-thumb {
	background-color: #ffffff;
}

/* 消息列表 */
#listMain:hover::-webkit-scrollbar-thumb {
	background-color: #ffffff;
}

/* 公告 */
.noticeMain::-webkit-scrollbar-thumb {
	background-color: #ffffff;
}

/* 群成员 */
.friendMain::-webkit-scrollbar-thumb {
	background-color: #ffffff;
}


/* ————————交互———————— */
#closeRight,
#openRight,
#closeLeft,
#openLeft {
	background-color: #D8F5F3;
	box-shadow: rgba(0, 0, 0, .1) 0 .2em .5em;
}

#closeRight:hover,
#openRight:hover,
#closeLeft:hover,
#openLeft:hover {
	background-color: #a9eae1;
}

#closeRight::after,
#openRight::after,
#closeLeft::after,
#openLeft::after {
	border-color: #35887a;
}

/* ————————对话列表———————— */
#list {
	background-color: #D8F5F3;
}

/* 每个对话 */
.listLable {
	background-color: #D8F5F3;
}

/* 鼠标悬停 */
.listLable:hover {
	background-color: #a9eae1;
}

/* 群名 */
.ListName {
	color: #617979;
}

/* 消息内容缩略 */
.ListContent {
	color: #27393B;
}

/* 特殊消息（at） */
.ListContentB {
	color: #E76A54;
}

/* 消息时间 */
.ListTime {
	color: #85CABF;
}

/* 消息数量 */
.ListNum {
	color: #ffffff;
}

/* 未屏蔽 */
.ListNumRed {
	background-color: #E76A54;
}

/* 屏蔽 */
.ListNumGray {
	background-color: #85CABF;
}

/* 被打开的群聊 */
.active,
.active:hover {
	background-color: #ffffff;
}

.active * {
	/* color: #ffffff; */
}

/* 底部按钮 */
#listButton {
	background-color: #D8F5F3;
}

.listButton {
	fill: #85CABF;
}

.listButton:hover {
	fill: #35887a;
}

/* ————搜索———— */
#ListSearchInput {
	background-color: #E76A54;
	color: #ffffff;
	border: transparent 1px solid;
	border-radius: 2em;
	border-color: #ffffff;
}

#ListSearchBox {
	background-color: #E76A54;
}

/* 提示文字 */
#ListSearchInput::placeholder {
	color: #ffffff;
}

/* 焦点 */
#ListSearchInput:focus {
	border-color: #ffffff;
	background-color: #ffffff;
	color: #27393B;
}

/* ————————群名信息等———————— */
#title {
	background-color: #E76A54;
	color: #ffffff;
}

/* ————————对话———————— */
#main {
	background-color: #EEF6F8;
}

/* 气泡样式 */
.myMessage .MessageTalk {
	background-color: #D8F5F3;
	border: #ffffff 2px solid;
	padding: calc(.5em - 2px);
	color: #35887a;
}

.otherMessage .MessageTalk {
	background-color: #FFE6BB;
	border: #ffffff 2px solid;
	padding: calc(.4em - 2px) calc(.5em - 2px);
	color: #AC5E45;
}

/* 用户名 */
.userName {
	color: #a0a0a0;
}

/* 图片信息 */
.MessageImage {
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, .1) 0 .2em .5em;
}

/* 文字消息 */
.MessageTalk {
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, .1) 0 .2em .5em;
}

/* 文字消息中的图片 */
.MessageTalk img {
	border-radius: .5em;
}

/* 回复其他人消息 */
.replyMessage {
	border-radius: .5em;
	background-color: rgba(255, 255, 255, 0.3);
}

/* at他人的消息 */
.otherMessage .MessageTalkAt {
	color: #E76A54;
}

.myMessage .MessageTalkAt {
	color: #85CABF;
}

/* 时间戳/入群提醒 */
.messageTimeBox {
	color: #a0a0a0;
}

.messageTimeBox span {
	color: #E76A54;
}

/* ——————输入框—————— */
#input {
	background-color: #85CABF;
	border-top: #85CABF 1px solid;
}

/* 输入框图标 */
.inputIcon {
	fill: #D8F5F3;
}

.inputIcon:hover {
	fill: #ffffff;
}

/* 输入的文字 */
#inputMessage {
	background-color: #ffffff;
	color: #ffffff;
	border-radius: 1em;
}

/* 发送按钮 */
#sendButton {
	background-color: #a9eae1;
	color: #ffffff;
	border-radius: 1em;
}

#sendButton:hover {
	background-color: #E76A54;
	color: #ffffff;
}


/* ————————公告———————— */
#notice,
#smallNotice,
#friend {
	background-color: #D8F5F3;
}

/* 公告标题 */
.noticeTitle,
.friendTitle {
	background-color: #a9eae1;
	color: #27393B;
}

/* 内容颜色 */
.noticeCont {
	color: #27393B;
}

.noticeCont:hover {
	background-color: #ffffff;
	color: #27393B;
}

/* 重要信息（置顶） */
.noticeImportant {
	color: #E76A54;
}

/* ————————群友———————— */
.friendCont:hover {
	background-color: #EEF6F8;
}

/* 下线群友 */
.friendName {
	color: #85CABF;
}

/* 在线群友 */
.online .friendName {
	color: #27393B;
}